<!-- <div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Changes for Hope</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                <li><a href="/">Home</a>
                </li>
                <li><a href="/employee/client/progressReport">Progress Reports</a>
                </li>
                <li><a href="/user">Edit your Profile</a>
                </li>
                <li><a href="/signup">Register Employee</a>
                </li>
                <li><a href="/logout">Logout</a>
                </li>

          </ul>
        </div>
      </div>
    </nav>

  </div>
</div> -->

<style>
.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #000;
}
</style>

<md-toolbar>

  <div class="md-toolbar-tools">
    

    <ul class="nav navbar-nav" md-truncate flex>
      <li><a href="/">Home</a>
      </li>
      <li><a href="/reports">Progress Reports</a>
      </li>
      <li><a href="/user">Edit your Profile</a>
      </li>
      <li><a href="/signup">Register Employee</a>
      </li>
      <li><a href="/logout">Logout</a>      </li>
      <li><a href="/adminPage">Admin Page</a></li>

    </ul>

    <!--<md-button>
      Right Bar Button
    </md-button>-->
  </div>

</md-toolbar>
